*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
}
header{
    width: 100%;
    position: absolute;
    top: 2rem; /* 20px */
    z-index: 1;
}

.container{
    padding : 0px 5rem; /* 50px */
    top: 0;
    left: 0;
    max-width: 100%;
}

.header-inner{
    max-width: 114rem; /* 1140px */
    margin :auto;
    padding: 1rem 2rem; /* 10px 20px */
    border-radius: 7rem; /* 70px */
    display: flex;
    justify-content: space-between;
    gap:1rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(0.5rem); /* 5px */
}

.mobile-logo{
    display: none;
}

.hamBurger{
    display:none;
}

header .logo {
    width : auto;
    height: 4.6rem; /* 46px */
}

nav ul{
    width: 31.9rem; /* 319px */
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem; /* 16px */
    font-family: "Jost",sans-serif;
    list-style: none;
}

ul .navigation{
    color: white;
    text-decoration: none;
}

header .contact{
    display: flex;
    gap: 2rem; /* 20px */
    align-items: center;
}

.contact .num{
    text-decoration: none;
    color: white;
    font-size: 1.6rem; /* 16px */
    font-family: "Jost",sans-serif;
}

.contact .Contact-button{
    text-decoration: none;
    height: 4.3rem; /* 43px */
    line-height: 4.3rem; /* 43px */
    padding : 0px 3rem; /* 30px */
    border-radius: 10rem; /* 100px */
    background-color: #2BA540;
    font-size: 1.6rem; /* 16px */
    color: white;
    font-family: "Jost",sans-serif;
}

.bannerImage{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannerSection{
    height: 100vh;
    display: flex;
}

.TitleText{
    position: relative;
    max-width: 60.9rem; /* 609px */
    padding-top: 4.3rem; /* 43px */
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 6rem; /* 60px */
    font-weight: bold;
    font-family: "Jost",sans-serif;
    color: white;
    text-align: center;
    line-height: 7.4rem; /* 74px */
}

.subTitle{
    padding: 0px 2.5rem; /* 25px */
    font-size: 2.2rem; /* 22px */
    color: white;
    font-family: "Jost",sans-serif;
    text-align: center;
    line-height: 2.8rem; /* 28px */
}

.get-Started{
    display: block;
    width: 14.1rem; /* 141px */
    height: 4.3rem; /* 43px */
    margin-top: 3rem; /* 30px */
    line-height: 4.3rem; /* 43px */
    padding: 0px 3rem; /* 30px */
    background-color: #2BA540;
    text-decoration:none ;
    font-size: 1.6rem; /* 16px */
    border-radius: 10rem; /* 100px */
    color: white;
    font-family: "Jost",sans-serif;
}

.serviceSection{
    padding: 4rem 0px; /* 40px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.services{
    max-width: 114rem; /* 1140px */
    margin: auto;
}

.servicetitle{
    text-align: center;
    font-size: 3rem; /* 30px */
    font-weight: 600;
    font-family: "Jost",sans-serif;
}

.serviceSubTitle{
    text-align: center;
    padding: 0px 16.3rem;
    font-size: 1.6rem; /* 16px */
    font-family: "Jost",sans-serif;
}

.cards{
    padding-top: 3rem; /* 30px */
    display: flex;
    flex-wrap: wrap;
    max-width: 114rem;
    gap: 2rem; 
    padding-bottom: 4rem; /* 40px */
}

.image-card{
    flex:0 0 32.15%;
    /* max-width: 36.7rem; */
}

.textContent{
    
    padding: 2rem 2rem 2rem 0px; /* 20px */
    font-size: 1.6rem; /* 20px */
    font-family: "Jost",sans-serif;
}

.imageCard{
    width: 100%;
    border-top-left-radius: 2rem; /* 20px */
    border-top-right-radius: 2rem; /* 20px */
}

.bookingSection{
    width: 100%;
    padding: 4rem 0px; /* 40px */
}

.bookingBanner{
    max-width: 114rem; /* 1140px */
    margin: auto;
    border-radius: 2rem; /* 20px */
    background-image: url(/images/Frame\ 168\.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4.5rem 3rem; /* 45px 30px */
}

.bookingTitle{
    max-width: 73.8rem; /* 738px */
    margin: auto;
    color: white;
    font-family: "Jost",sans-serif;
}

.bookingHeading{
    font-size: 3rem; /* 30px */
    text-align: center;
}

.bookingSubTitle{
    font-size: 1.8rem; /* 18px */
    text-align: center;
}

.buttonBox{
    padding-top: 3rem; /* 30px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.consultation-button{
    background-color: white;
    margin: auto;
    color: #193C1F;
    font-size: 2rem; /* 20px */
    font-weight: bold;
    border-radius: 10rem; /* 100px */
    height: 4.6rem; /* 46px */
    line-height: 4.6rem; /* 46px */
    padding: 0px 3rem; /* 30px */
    font-family: "Jost",sans-serif;
}

.portfolioSection{
    max-width: 114rem; /* 1140px */
    margin: auto;
    padding: 4rem 0px; /* 40px */
}

.portfolioTitle{
    text-align: center;
    font-size: 3rem; /* 30px */
    font-family: "Jost",sans-serif;
}

.portfolioSubTitle{
    text-align: center;
    margin: 0px 16.3rem; /* 163px */
    font-size: 1.6rem; /* 16px */
    font-family: "Jost",sans-serif;
}

.gridSection{
    margin-top: 3rem;/* 40px */
    display: grid;
    border-radius: 2rem; /* 20px */
    gap: 0.5rem; /* 5px */
    grid-template-columns: repeat(3, 1fr);
}

.grid-item1 {
    grid-row: span 2;
    border-top-left-radius: 2rem;
}

.grid-item1 img {
    border-top-left-radius: 2rem;
}

.grid-item3 img{
    border-top-right-radius: 2rem;
}

.grid-item5 img {
    border-bottom-right-radius: 2rem;
}

.grid-item6 img {
    border-bottom-left-radius: 2rem;
}

.grid-item {
    position: relative; 
    overflow: hidden;  
}

.imageText{
    position: absolute;
    bottom: -1rem; 
    padding: 0rem 1.5rem;
    left: 1rem; 
    color: white;
    font-size: 2rem; 
    font-family: "Jost",sans-serif;
    transition: all 0.3s;
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #101010, transparent);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
  }
  
  .grid-item:hover .overlay {
    opacity: 1;
  }

  .grid-item:hover .imageText {
    transform: translateY(-2rem);
  }

.grid-item5 {
    grid-row: span 2;
}

.grid-item5 .overlay {
    border-bottom-right-radius: 2rem;
}

.grid-item6 .overlay {
    border-bottom-left-radius: 2rem;
}

.grid-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
footer{
    padding: 4rem 0px; /* 40px */
    background-color: #021906;
}

.footerBox{
    max-width: 114rem; /* 1140px */
    margin: auto;
}



.footerLogo{
    max-width: 16rem; /* 160px */
    margin: auto;
}

.details{
    color: white;
    display: flex;
    margin: 3rem 0rem;
    font-family: "Jost",sans-serif;
    justify-content: space-between;
    flex-wrap: wrap;

    /* flex: 1 0 33%; */
    /* align-items: center; */
}

.links {
    list-style: none;
}

.footer-tite{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 3rem;
}

.quick-link-box{
    display: flex;
    margin-top: 2rem;
    gap: 4rem;
    font-size: 1.6rem;
    font-weight: 200 ;
}

.footer-subtitle{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
}

.footer-text{
    font-size: 1.6rem;
    font-weight: 200;
}

.contact-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2rem;
    gap:2rem
}

.contact-text{
    display: flex;
    align-items: center;
    gap:1.2rem
}

.footer-block3{
    flex:0 0 26%;
}

.footer-block .footer-text{
    max-width: 22rem; 
}

.copyRights{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-title{
    color: white;
    font-family: "Jost",sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.8rem
}

.policies{
    font-size: 1.4rem;
    font-family: "Jost",sans-serif;
    color: white;
    font-weight: 200;
    display: flex;
    gap:3rem
}

.products{
    max-width: 114rem;
    margin: auto;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-products{
    text-decoration: none;
    height: 6rem;
    line-height: 6rem;
    padding : 0rem 3rem; /* 30px */
    border-radius: 10rem; /* 100px */
    background-color: #2BA540;
    font-size: 1.8rem; /* 16px */
    color: white;
    font-family: "Jost",sans-serif;
}

.mobile-contact-button{
    text-decoration: none;
    height: 4.9rem; 
    line-height: 4.9rem; 
    padding : 0rem 3rem; /* 30px */
    border-radius: 10rem; /* 100px */
    background-color: #2BA540;
    font-size: 1.6rem; /* 16px */
    color: white;
    font-family: "Jost",sans-serif;
    
}

.all-products a{
    color: white;
    text-decoration: none;
}

.slider-bar{
    display: none;
}

.carousel-container {
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
    position: relative;
  }
  
  .carousel-track {
    display: flex;
    gap: 0.5rem;
    transition: transform 0.5s ease;
  }
  
  .card {
    flex: 0 0 25%; /* Default: 4 cards per row */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
  }
  
  .card img {
    width: 32rem;
    height: 32rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .card p {
    margin: 10px 0;
    font-weight: bold;
    font-size: 14px;
  }
  
  /* ✅ Tablet (3 cards) */
  
  
  .pagination-dots {
    text-align: center;
    margin-top: 16px;
  }
  
  .mobile-overlay {
    position: fixed;
    top: 0;
    right: -300rem; /* Initially hidden off-screen */
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    transition: right 0.3s ease;
    z-index: 1000;
  }


  
  .mobile-menu {
    padding: 20px;
    color: white;
  }
  
  .mobile-navbar{
    height: 100%;
    width: 100%;
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    gap:5rem;
    align-items: center;
  }

  .mobile-navigation{
    color: black;
    font-size: 3rem;
    font-weight: 500;
    text-decoration: none;
    font-family: "Jost",sans-serif;
  }

  .mobile-nav{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    font-family: "Jost",sans-serif;
  }

  .hamBurger {
    cursor: pointer;
  }


  
  .pagination-dots span {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .pagination-dots .active {
    background: #2e7d32;
  }


@media screen and (min-width: 600px) and (max-width: 1024px) {

    .image-card{
        flex: 0 0 48%;
        /* max-width: 36.7rem; */
    }
    
    .footer-block3{
        flex:0 0 20%;
    }

    .slider-bar{
        display: block;
    }

    .gridSection{
        display: none;
    }




}

@media screen and (max-width: 768px) {

    
    .hamBurger{
        
        cursor: pointer;
        display: inline-block;
        
        display: block;
    }
    
    header .logo-block{
        display: none;
    }

    .mobile-logo{
        display: block;
    }

    header .contact{
        display: none;
    }

    header ul{
        display: none;
    }

    .header-inner{
        height: 4.6rem;
        width: 4.6rem;
        min-width: 4.6rem;
        display: flex;
        align-items: center;
        padding: 1rem;
        border-radius: 100%;
        margin: 0;
        gap: 0
    }

    .title{
        font-size: 3.6rem;
        line-height: normal;
    }

    .footer-block{
        margin-top: 3rem;
    }

    .footer-block3{
        flex:0 0 41%;
    }

    .gridSection{
        display: none;
    }

    .image-card{
        flex: 0 0 48%;
    }

    .slider-bar{
        display: block;
    }

}


@media  (max-width : 450px) {

    .serviceSubTitle{
        padding: 0rem 1rem; /* 10px */
    }

    .portfolioSubTitle{
        margin: 0rem 1rem; /* 10px */
    }

    .text{
        font-size: 2.6rem;
    }

    .container{
        padding: 0rem 2.5rem;
    }

    .bookingBanner{
        width: 100%;
    }

    .image-card{
        flex:0 0 100%;
        /* max-width: 36.7rem; */
    }

    .bookingHeading{
        font-size: 2.2rem;
    }

    .consultation-button{
        font-size: 1.3rem;
    }

    
}

@media (max-width: 1024px) {
    .card {
      flex: 0 0 33.3333%;
    }
  }
  
  /* ✅ Mobile (1-2 cards) */
  @media (max-width: 768px) {
    .card {
      flex: 0 0 50%; /* 2 cards */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      flex: 0 0 90%; /* 1 card */
    }
  }